---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import stockResults from '../../../stock_results.json';
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <Header title={SITE_TITLE} />
        <main>
            <p>Aquí le ofrecemos información basada en nuestro análisis utilizando aprendizaje automático.</p>
            
            <table border="1">
                <thead>
                    <tr>
                        <th>Stock Name</th>
                        <th>Final Value</th>
                        <th>Grade</th>
                        <th>Threshold</th>
                        <th>Predicted Return</th>
                    </tr>
                </thead>
                <tbody>
                    {stockResults.map(stock => (
                        <tr>
                            <td>{stock.sheet_name}</td>
                            <td>{stock.final_value}</td>
                            <td>{stock.grade}</td>
                            <td>{stock.optimal_threshold}</td>
                            <td>{stock.predicted_return}</td>
                        </tr>
                    ))}
                </tbody>
            </table>
        </main>
        <Footer />
    </body>
</html>
